@import './variables';

body,
html {
  min-width: 320px;
  min-height: 100dvh;
  margin: 0;
  font-family: "Jost", sans-serif;
  line-height: 1.6;
  color: $text-color-primary;
  font-weight: 400;
}

.body--noscroll {
  overflow: hidden;
}

h1, h2, h3 {
  font-weight: 600;
}

section {
  padding: 120px 0;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
  width: 100%;
  padding: 0 20px;

  &--wide {
    max-width: 1760px;
  }
}

.logo {
  font-size: 30px;
  font-weight: 700;
  color: $text-color-white;
}

.phone {
  font-size: 30px;
  font-weight: 600;
  color: $text-color-white;

  &:hover {
    text-decoration: underline;
  }
}

header,
footer {
  background-color: $bg-color-primary;
}