@import './variables';

.header {
  padding: 30px 0;
  position: sticky;
  top: 0;
  z-index: 10;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    .menu {
      &__list {
        display: flex;
        gap: 40px;
      }
      &__link {
        font-size: 20px;
        color: $text-color-white;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .mobile-btns {
    display: none;
    gap: 10px;

    &__phone {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
      border-radius: 10px;
      border: 1px solid $white-color;
      padding: 10px;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }

    .btn-open {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
      border-radius: 10px;
      border: 1px solid $white-color;
      padding: 10px;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 17px 0;

    .menu,
    .phone {
      display: none;
    }

    .mobile-btns {
      display: flex;
    }
  }
}

@media screen and (max-width: 425px) {
  .header {
    &__logo {
      font-size: 18px;
    }
  }
}
