@import './variables';

.teacher-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 688px;
  width: 860px;

  .teacher-block {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    margin-bottom: 20px;

    &__img {
      width: 160px;
      height: auto;
    }

    .teacher-info {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &__name {
        font-size: 24px;
        font-weight: 600;
      }

      &__post {
        font-size: 18px;
        color: $text-color-secondary;
      }

      &__socials {
        display: flex;
        gap: 10px;

        .social-link {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  .teacher-tabs {
    .nav-tabs {
      display: flex;
      font-size: 20px;
      border-bottom: $border-tabs;

      &__btn {
        display: flex;
        flex: 0 1 33.333%;
        padding: 20px 0;

        &:hover {
          color: $text-color-accent;
        }

        &--active {
          color: $button-color-primary;
        }
      }
    }

    .tabs-content {
      max-height: 370px;
      overflow-y: scroll;

      &::after {
        position: absolute;
        content: '';
        width: 98%;
        height: 32px;
        bottom: 0;
        left: 0;
        background-image: $bg-color-tabs-blur;
      }

      &__info {
        display: none;
        margin-top: 20px;
        padding-bottom: 20px;

        &--active {
          display: block;
        }
      }

      &__text {
        font-size: 20px;
      }

      &__title {
        font-size: 24px;
        margin: 40px 0 20px 0;
      }
    }
  }

  .dropdown {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .teacher-modal {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .teacher-modal {
    .teacher-block {
      gap: 10px;

      &__img {
        width: 60px;
        height: 88px;
      }

      .teacher-info {
        gap: 5px;

        &__name {
          font-size: 16px;
        }

        &__post {
          font-size: 12px;
        }

        &__socials {
          margin-top: 5px;
          gap: 5px;
        }
      }
    }

    .teacher-tabs {
      .nav-tabs {
        display: none;

        &__btn {
          display: none;
        }
      }

      .tabs-content {
        max-height: calc(100vh - 200px);

        &__info {
          padding-bottom: 30px;
        }

        &__text {
          font-size: 14px;
        }

        &__title {
          font-size: 16px;
          margin: 20px 0 10px 0;
        }
      }
    }

    .dropdown {
      display: flex;
      position: relative;

      &-btn {
        background-color: $accent-color;
        width: 100%;

        &__arrow {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          margin-left: 5px;
          width: 10px;
          height: 10px;

          &--open {
            transform: translateY(-50%) rotate(180deg);
          }
        }
      }

      &-menu {
        display: none;

        &--open {
          position: absolute;
          background-color: $accent-color;
          display: flex;
          flex-direction: column;
          width: 100%;
          top: 100%;
        }

        &__btn {
          &--active {
            background-color: $button-color-dropdown;
          }
        }
      }

      .mobile-btn {
        padding: 10px;
        border: 1px solid $white-color;
        color: $white-color;
      }

      .btn--close {
        display: none;
      }
    }
  }
}
