@import './variables';

.prices {

  &__title {
    font-size: 50px;
  }

  &__cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 60px;

    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      flex-basis: 360px;
      border: $border-default;
      box-shadow: $shadow-dark;
      border-radius: 20px;
      padding: 40px;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.3s ease,
        color 0.3s ease;

      &:hover {
        background-color: $bg-color-primary;
        transform: scale(1.1);
        color: $text-color-white;

        :before,
        :after {
          background-color: $bg-color-quaternary;
        }
      }

      &__heading {
        position: relative;
        text-align: center;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 600;

        &::before,
        &::after {
          position: absolute;
          content: '';
          top: 50%;
          transform: translateY(-50%);
          width: 20px;
          height: 3px;
          background-color: $bg-color-primary;
          transition: background-color 0.3s ease;
        }

        &::before {
          left: -30px;
        }

        &::after {
          right: -30px;
        }
      }

      &__info {
        margin-bottom: 52px;
        text-align: center;

        &__price {
          font-size: 50px;
          font-weight: 600;
          margin-top: 63px;
        }

        &__desc {
          font-size: 18px;
          text-align: center;
          margin-top: 20px;
        }
      }

      &__btn {
        align-self: stretch;
        margin-top: auto;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .prices {
    padding: 60px 0;

    &__title {
      text-align: center;
      line-height: 1.4;
    }
  }
}

@media screen and (max-width: 768px) {
  .prices {
    &__title {
      font-size: 30px;
    }

    &__cards {
      margin-top: 40px;
      gap: 30px;

      .card {
        flex-basis: 300px;
        padding: 40px 20px;

        &__info {
          margin-bottom: 40px;

          &__price {
            margin-top: 40px;
          }

          &__desc {
            font-size: 16px;
          }
        }
      }
    }
  }
}
