$text-color-primary: #141024;
$text-color-secondary: #fff;
$text-color-additional: #D52027;
$text-color-pale: #141024b3;

$bg-color-tertiary: #D52027;
$button-color-primary-hover: #be2027;
$bg-color-primary: #141024;
$button-color-secondary-hover: #7e0411;
$bg-color-secondary: #F9F9F9;
$tooltip-shadow: #1410241a;
$bg-color-white: #fff;
$scrollbar-bg-pale: #14102414;
$card-shadow: #00000040;